# Change secret key for production
SECRET_KEY=
# Set this to False for production
DEBUG=True
ALLOWED_HOSTS=localhost

DB_ENGINE=mysql
DB_HOST=localhost
DB_PORT=3306
DB_NAME=
DB_USER=
DB_PASSWORD=

TWELVE_DATA_API_KEY=
