.main-wrapper {
    margin: 0 auto;
    display: flex;
}

#stock-chart {
    margin-right: 40px;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

table td,
table th {
    border: 1px solid #ddd;
    padding: 8px;
}

table tr:hover {
    background-color: #ddd;
}

#stock-chart tbody tr:hover {
    cursor: pointer;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #048baa;
    color: white;
}

.stock-information th {
    background-color: maroon;
}

.stock-information {
    border-radius: 75px;
}

.change {
    background-color: #f7f1f1;
}

.negative {            
    background-color: #ffc0c0;
}

.positive {            
    background-color: #bfddcb;
}

.pagination {
    display: none;
    margin-top: 25px;
}

#stock-info-chart {
    display: none;
}
